@font-face {
  font-family: harryPotter;
  src: url(fonts/HARRYP__.TTF);
}

@font-face {
  font-family: lumosMaxima;
  src: url(fonts/Hogww___.ttf);
  font-weight: bold;
}

@-webkit-keyframes rainbow {
  20% {
    color: rgb(116, 0, 1);
  }
  60% {
    color: rgb(42, 133, 57);
  }
  80% {
    color: rgb(34, 47, 91);
  }
  100% {
    color: rgb(236, 185, 57);
  }
}

@keyframes rainbow {
  40% {
    color: rgb(116, 0, 1);
  }

  65% {
    color: rgb(42, 133, 57);
  }
  85% {
    color: rgb(34, 47, 91);
  }
  0% {
    color: rgb(236, 185, 57);
  }
}

header {
  background-color: rgba(0, 0, 0, 0.35);
  font-family: harryPotter;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
}

h1 {
  font-size: 100px;
  height: 100px;
  margin: 0px 0px 10px 0px;
  padding: 25px 0px 0px 0px;
  font-weight: 7;
}

h2,
h1 {
  font-weight: 7;
}

body {
  font-size: 20px;
  font-family: lumosMaxima;
  color: white;
  background-color: black;
  width: 100%;
}

.question {
  font-weight: 600;
}

.answers label {
  display: block;
  margin-bottom: 20px;
}

button {
  font-family: lumosMaxima;
  font-size: 20px;
  background-color: rgb(116, 0, 1);
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin: 0px 0px 20px 10px;
}

button:hover {
  background-color: rgb(236, 185, 57);
}

label:hover {
  color: grey;
}

i:hover {
  animation: rainbow 2s infinite;
  -webkit-animation: rainbow 2s infinite;
}

.slide {
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.trivia-container {
  position: relative;
  height: 200px;
  margin: 40px 0px 0px 10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.35);
  height: 50px;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin: 10px 0px 0px 0px;
}

.social {
  letter-spacing: 2.5px;
  font-size: 20px;
}

.dropdown-content {
  position: relative;
  display: inline-block;
  display: none;
  position: absolute;
  width: 500px;
  z-index: 3;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 15px;
  background-color: rgba(236, 185, 57, 1);
  padding: 10px;
}

.background {
  background-image: url(img/hogwartsBackground.jpg);
  background-position: 99%;
}

.dobby {
  background-image: url(img/dobby.png);
  background-position: 99%;
}

.gryffindor {
  background-image: url(img/gryffindor.jpg);
  background-position: 1%;
}

.hufflepuff {
  background-image: url(img/hufflepuff.jpg);
  background-position: 1%;
}

.slytherin {
  background-image: url(img/slytherin.jpg);
  background-position: 1%;
}

.ravenclaw {
  background-image: url(img/ravenclaw.jpg);
  background-position: 1%;
}

.win {
  background-image: url(img/winner.gif);
  background-position: 50%;
}

.loose {
  background-image: url(img/giphy.gif);
  background-position: 50%;
}

.ravenclaw,
.slytherin,
.hufflepuff,
.gryffindor,
.dobby,
.win,
.loose,
.background {
  background-size: cover;
  height: auto;
  width: auto;
}

#results {
  background-color: green;
}

#hogwarts,
#dobby,
#ravenclaw,
#slytherin,
#hufflepuff,
#gryffindor {
  font-size: 15px;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  margin: 0px 0px 20px 0px;
}

#hogwarts {
  background-color: rgba(45, 0, 77, 0.5);
}

#hogwarts:hover {
  background-color: rgba(45, 0, 77, 1);
}

#dobby {
  background-color: rgba(66, 66, 66, 0.5);
}

#dobby:hover {
  background-color: rgba(66, 66, 66, 1);
}

#ravenclaw {
  background-color: rgba(34, 47, 91, 0.5);
}

#ravenclaw:hover {
  background-color: rgba(34, 47, 91, 1);
}

#slytherin {
  background-color: rgba(42, 133, 57, 0.5);
}

#slytherin:hover {
  background-color: rgba(42, 133, 57, 1);
}

#hufflepuff {
  background-color: rgba(236, 185, 57, 0.5);
}

#hufflepuff:hover {
  background-color: rgba(236, 185, 57, 1);
}

#gryffindor {
  background-color: rgba(116, 0, 1, 0.5);
}

#gryffindor:hover {
  background-color: rgba(116, 0, 1, 1);
}

.lumos {
  display: flex;
  justify-content: center;
}

#lumos {
  background-color: black;
  border: solid white 2px;
  margin-top: 250px;
  padding: 50px;
  font-size: 30px;
}

#lumos:hover {
  background-color: white;
  transition: background-color 2s;
  border: solid black 2px;
  color: black;
  transition: color 2s;
}

#begin {
  display: none;
}

#appear {
  display: block;
  transition-property: all;
  transition-duration: 5s;
}

#background {
  transition-property: all;
  transition-duration: 2s;
}

@media screen and (max-width: 480px) {
  h2 {
    display: none;
  }

  .background {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  h1 {
    font-size: 40px;
  }

  body {
    font-size: 15px;
    width: auto;
  }

  button {
    font-size: 15px;
    padding: 5px;
    margin: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  #results {
    text-align: center;
  }

  .dropdown-content {
    width: auto;
  }

  .background,
  .win,
  .loose {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .ravenclaw,
  .slytherin,
  .hufflepuff,
  .gryffindor {
    background-size: cover;
    background-position: 50%;
  }
}
