@font-face {
  font-family: HarryPotter;
  src: url(HARRYP__.TTF);
}

@-webkit-keyframes rainbow {
  20% {
    color: rgb(116, 0, 1);
  }
  60% {
    color: rgb(42, 133, 57);
  }
  80% {
    color: rgb(34, 47, 91);
  }
  100% {
    color: rgb(236, 185, 57);
  }
}

@keyframes rainbow {
  40% {
    color: rgb(116, 0, 1);
  }

  65% {
    color: rgb(42, 133, 57);
  }
  85% {
    color: rgb(34, 47, 91);
  }
  0% {
    color: rgb(236, 185, 57);
  }
}

header {
  background-color: rgba(0, 0, 0, 0.35);
  font-family: HarryPotter;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
}

h1 {
  font-size: 100px;
  height: 100px;
  margin: 0px 0px 10px 0px;
  padding: 25px 0px 0px 0px;
  font-weight: 7;
}

h2 {
  font-size: 25px;
  font-weight: 7;
}

span {
  font-family: HarryPotter;
  font-size: 20px;
  font-weight: 7;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  background-color: black;
  width: 100%;
}

.question {
  font-weight: 600;
}

.answers {
  margin-bottom: 20px;
}

.answers label {
  display: block;
}

button {
  font-family: sans-serif;
  font-size: 20px;
  background-color: rgb(236, 185, 57);
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin: 0px 0px 20px 10px;
}

button:hover {
  background-color: rgb(116, 0, 1);
}

label:hover {
  color: rgb(34, 47, 91);
}

i:hover {
  animation: rainbow 2s infinite;
  -webkit-animation: rainbow 2s infinite;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.trivia-container {
  position: relative;
  height: 200px;
  margin: 40px 0px 0px 10px;
}

.background {
  background-image: url(hogwartsBackground.jpg);
  background-size: cover;
  height: auto;
  width: auto;
  background-position: 99%;
}

footer {
  background-color: rgba(0, 0, 0, 0.35);
  height: 50px;
  text-align: center;
  margin: 100px 0px 0px 0px;
  font-size: 15px;
  padding: 10px;
}

.social {
  letter-spacing: 2.5px;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* min-width: 160px; */
  width: 800px;
  z-index: 3;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 15px;
  background-color: rgba(236, 185, 57, 1);
  padding: 10px;
}

@media screen and (max-width: 480px) {
  h2 {
    display: none;
  }

  .background {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  h1 {
    font-size: 40px;
  }

  body {
    font-size: 15px;
    width: auto;
  }

  button {
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    margin: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  footer {
    margin: 50px 0px 0px 0px;
  }

  #results {
    text-align: center;
  }
}
